
<!-- {% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %}

  </article>
</div> -->

{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<tr style="height: 150px;">
  <td style="padding:10px;width:30%;vertical-align:middle;border:0px;border-spacing:0px;">
    <div style="max-width:240px;height:150px;overflow: hidden;display: block;margin-left: auto;margin-right: auto;">
      <span style="display: inline-block; vertical-align: middle;"></span>
      <img src="{{ post.imgurl | prepend: '/images/' }}">
    </div>
  </td>
  <td style="padding:10px;width:70%;vertical-align:middle;border:0px;border-spacing:0px;font-size: 1.2em;">
    <a href="{{ post.paperurl }}" target="_blank"> 
      <strong>{{post.title}}</strong>
    </a>
    <br>
    {% for author in post.authors %}
      {% if author.link.size > 0  %}
        {% if forloop.last %}
          <a href="{{author.link}}" target="_blank">{{author.name}}</a>{% if author.star %}*{% endif %}
        {% else %}
          <a href="{{author.link}}" target="_blank">{{author.name}}</a>{% if author.star %}*{% endif %},
        {% endif %}
      {% else %}
        {% if forloop.last %}
          <strong>{{author.name}}</strong>{% if author.star %}*{% endif %}
        {% else %}
          <strong>{{author.name}}</strong>{% if author.star %}*{% endif %},
        {% endif %}
      {% endif %}
    {% endfor %}
    
    <br>
    <em>{{post.venue}}</em>

    <br>
    {% for link in post.links %}
      <a href="{{link.link}}" target="_blank">[{{link.name}}]</a> 
    {% endfor %}

    <!-- <br>
    <div style="padding-top:4px">
      <p>{{post.excerpt}}</p>
    </div> -->
  </td>
</tr>
